Repository Rose-STL-Lab/torchTS, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, examples, github actions, pre-commit, python, source, test

Update tutorials.sh
  scripts/tutorials.sh
Labels: none

run poetry install/update
  poetry.lock
Labels: dependencies, python

Merge Sphinx into Docusaurus V2
  .github/workflows/docs.yml
  .gitignore
  docs/source/_templates/theme_variables.jinja
  docs/source/conf.py
  scripts/build_docs.sh
  website/.gitignore
  website/docusaurus.config.js
Labels: dependencies, documentation, github actions

Update docusaurus.config.js
  website/docusaurus.config.js
Labels: documentation

Update docusaurus.config.js
  website/docusaurus.config.js
Labels: documentation

Added skeleton code for TimeSeriesDataset
  tests/utils/data/test_time_series_dataset.py
  torchts/utils/data/__init__.py
  torchts/utils/data/time_series_dataset.py
Labels: source, test

add conformal
  examples/quantile-regression/conformal-quantile-regression.ipynb
  examples/quantile-regression/lstm-quantile-regression.ipynb
  torchts/nn/loss.py
  torchts/nn/model.py
Labels: examples, source

torchts
  torchts/nn/model.py
Labels: source

fix
  torchts/nn/model.py
Labels: source

add conformal
  examples/quantile-regression/conformal-quantile-regressio_fix.ipynb
  examples/quantile-regression/conformal-quantile-regression.ipynb
  torchts/nn/loss.py
  torchts/nn/model.py
Labels: examples, source

update
  examples/quantile-regression/conformal-quantile-regressio_fix.ipynb
  torchts/nn/model.py
Labels: examples, source

regression example for conformal
  examples/quantile-regression/conformal-quantile-regression_example.ipynb
  torchts/nn/model.py
Labels: examples, source

conformal timeseries example
  examples/quantile-regression/conformal-quantile-regression_example.ipynb
  examples/quantile-regression/conformal-quantile-timeseries_example.ipynb
  torchts/nn/model.py
Labels: examples, source

finish non scaled conformal implementation
  examples/quantile-regression/conformal-quantile-timeseries_example.ipynb
  torchts/nn/model.py
Labels: examples, source

minor
  examples/quantile-regression/conformal-quantile-regressio_fix.ipynb
  examples/quantile-regression/conformal-quantile-regression_example.ipynb
Labels: examples

added sphinx stuff
  .github/workflows/docs.yml
  .gitignore
  docs/source/_templates/theme_variables.jinja
  docs/source/conf.py
  scripts/build_docs.sh
  website/.gitignore
  website/docusaurus.config.js
Labels: dependencies, documentation, github actions

Update README.md
  website/README.md
Labels: documentation

Update .gitignore
  .gitignore
Labels: none

Remove pre-commit update action
  .github/workflows/update-pre-commit.yml
Labels: dependencies, github actions

Remove pre-commit action
  .github/workflows/quality.yml
Labels: dependencies, github actions

Remove pre-commit actions (#224)
  .github/workflows/quality.yml
  .github/workflows/update-pre-commit.yml
Labels: dependencies, github actions

Run nbconvert through jupyter
  scripts/tutorials.sh
Labels: none

Fix pre-commit issue
  website/sidebarsTutorials.js
Labels: documentation

Add space between docs workflow blocks
  .github/workflows/docs.yml
Labels: dependencies, github actions

Rename Seq2Seq notebook
  examples/seq2seq/seq2seq.ipynb
Labels: examples

Add space in comment
  scripts/tutorials.sh
Labels: none

Capitalize library name
  website/tutorials/intro.md
Labels: documentation

Remove chmod call in docs workflow
  .github/workflows/docs.yml
Labels: dependencies, github actions

added skeleton file for docs
  docs/source/contributing.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/modules.rst
  docs/source/torchts.nn.rst
  docs/source/torchts.utils.rst
  scripts/build_docs.sh
Labels: documentation

Update index.rst
  docs/source/index.rst
Labels: documentation

Added instructions on installing torchTS in two methods
  docs/source/installation.rst
Labels: documentation

Fixed typo in markdown
  examples/ode/SEIR/SEIRTest.ipynb
  examples/ode/lorenz63/Lorenz63Test.ipynb
  examples/ode/lorenz63/Lorenz63Test_UnobservedMethod.ipynb
Labels: examples

added docs for torchts.nn and utils
  docs/source/index.rst
  docs/source/torchts.nn.loss.rst
  docs/source/torchts.nn/dcrnn.rst
  docs/source/torchts.nn/index.rst
  docs/source/torchts.nn/seq2seq.rst
  docs/source/torchts.utils.data.rst
  docs/source/torchts.utils.rst
  torchts/nn/models/dcrnn.py
  torchts/nn/models/seq2seq.py
Labels: documentation, source

conformal quantile prediction clean+notebook
  examples/quantile-regression/conformal-quantile-regression_example.ipynb
  examples/quantile-regression/conformal-quantile-timeseries_example.ipynb
  torchts/nn/model.py
Labels: examples, source

added getting_started section
  docs/source/_static/images/getting_started__dataset_plot.png
  docs/source/_static/images/getting_started__pred_results_1.png
  docs/source/_static/images/getting_started__sample_dataset.png
  docs/source/_static/images/getting_started__sample_results.png
  docs/source/build_your_own_model.rst
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/torchts.nn.loss.rst
  docs/source/torchts.rst
Labels: documentation

added math functions
  docs/source/getting_started.rst
  docs/source/torchts.nn.loss.rst
  docs/source/torchts.nn/dcrnn.rst
  docs/source/torchts.nn/seq2seq.rst
  torchts/nn/models/seq2seq.py
Labels: documentation, source

Merge Sphinx into Docusaurus V2 (#206)
  .github/workflows/docs.yml
  .gitignore
  docs/source/_templates/theme_variables.jinja
  docs/source/conf.py
  scripts/build_docs.sh
  website/.gitignore
  website/docusaurus.config.js
Labels: dependencies, documentation, github actions

fixed lint
  docs/source/torchts.nn/dcrnn.rst
  docs/source/torchts.nn/seq2seq.rst
Labels: documentation

Update change log
  CHANGELOG.md
Labels: none

Run Sphinx in Poetry shell
  scripts/build_docs.sh
Labels: none

.github/labeler.yml:

dependencies:
  - .github/actions/**
  - .github/workflows/*
  - .github/dependabot.yml
  - .pre-commit-config.yaml
  - poetry.lock

documentation:
  - docs/**
  - website/**

examples:
  - examples/**

github actions:
  - .github/actions/**
  - .github/workflows/*
  - .github/labeler.yml

pre-commit:
  - .pre-commit-config.yaml

python:
  - '*.py'
  - poetry.lock

source:
  - torchts/**

test:
  - tests/**
