Repository Rose-STL-Lab/torchTS, pull requests merged in 2021-12, with the labels that each got.

#177 Update flakehell pre-commit hook
  .pre-commit-config.yaml
Labels: dependencies, pre-commit

#178 Update dependencies
  poetry.lock
  torchts/nn/model.py
Labels: dependencies, python, source

#168 Enable uncertainty quantification using quantile loss
  CHANGELOG.md
  examples/quantile-regression/README.md
  examples/quantile-regression/lstm-quantile-regression.ipynb
  examples/quantile-regression/requirements.txt
  poetry.lock
  pyproject.toml
  tests/nn/test_loss.py
  tests/test_model.py
  torchts/nn/loss.py
  torchts/nn/model.py
Labels: examples, test, source

#185 Remove pull requests from security workflow runs
  .github/workflows/security.yml
  CHANGELOG.md
Labels: github actions

#165 Add a description for Hybrid AutoODE
  website/docs/physics-guided-deep-sequence-models/hybrid-autoode.md
Labels: documentation

#169 Add descriptions for uncertainty quantification methods
  website/docs/uncertainty-quantification-methods/_category_.json
  website/docs/uncertainty-quantification-methods/mean-interval-score-regression.md
  website/docs/uncertainty-quantification-methods/quantile-regression.md
  website/docs/uncertainty-quantification-methods/stochastic-gradient-mcmc.md
Labels: documentation

#188 Add mean interval score loss function
  examples/mis-regression/README.md
  examples/mis-regression/lstm-mis-regression.ipynb
  examples/mis-regression/requirements.txt
  tests/nn/test_loss.py
  torchts/nn/loss.py
  website/docs/uncertainty-quantification-methods/mean-interval-score-regression.md
Labels: documentation, examples, test, source
