Repository Rose-STL-Lab/torchTS, pull requests merged in 2021-08, with the labels that each got.

#61 Improve GitHub Actions workflows
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
Labels: github actions

#63 GitHub Actions security workflow
  .github/workflows/quality.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Labels: enhancement, github actions

#70 Specify labels for Dependabot pull requests
  .github/dependabot.yml
Labels: dependencies

#73 Add workflow to update pre-commit hooks
  .github/workflows/update-pre-commit.yml
Labels: github actions, pre-commit

#76 Fix pre-commit update workflow
  .github/workflows/update-pre-commit.yml
Labels: github actions, pre-commit

#89 Show diff when pre-commit fails
  .github/workflows/quality.yml
Labels: github actions

#91 Use torchts-bot to commit documentation changes
  .github/workflows/docs.yml
Labels: github actions

#104 Update README
  README.md
Labels: documentation

#105 Update security workflow
  .github/workflows/security.yml
Labels: github actions

#65 Add Docusaurus website
  .github/workflows/docs.yml
  website/.gitignore
  website/README.md
  website/babel.config.js
  website/docs/classic-time-series-models/_category_.json
  website/docs/classic-time-series-models/autoregressive-model.md
  website/docs/classic-time-series-models/vector-autoregressive-model.md
  website/docs/deep-sequence-to-sequence-models/Seq2Seq-with-GRU.md
  website/docs/deep-sequence-to-sequence-models/Seq2Seq-with-LSTM.md
  website/docs/deep-sequence-to-sequence-models/_category_.json
  website/docs/deepspatiotemporal-sequence-models/Convolutional-LSTM.md
  website/docs/deepspatiotemporal-sequence-models/Diffusion-Convolutional-LSTM.md
  website/docs/deepspatiotemporal-sequence-models/_category_.json
  website/docs/intro.md
  website/docs/physics-guided-deep-sequence-models/AutoODE.md
  website/docs/physics-guided-deep-sequence-models/Hybrid-AutoODE.md
  website/docs/physics-guided-deep-sequence-models/_category_.json
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/sidebars.js
  website/src/components/Container/index.jsx
  website/src/components/GridBlock/index.jsx
  website/src/components/HomepageFeatures.js
  website/src/components/HomepageFeatures.module.css
  website/src/components/MarkdownBlock/index.jsx
  website/src/css/custom.css
  website/src/pages/index.js
  website/src/pages/index.module.css
  website/static/.nojekyll
  website/static/img/logo.png
  website/static/img/logo2.png
  website/static/img/puzzle.png
  website/static/img/pytorch-logo.png
  website/static/img/time-series-graph.png
  website/static/img/torchTS_logo.png
Labels: documentation, github actions

#107 Fix Broken Images
  website/src/pages/index.js
  website/static/img/scalable.png
  website/static/img/why.png
Labels: documentation

#108 Remove setup.py
  setup.py
Labels: python

#111 Update website URLs
  website/docusaurus.config.js
Labels: documentation

#112 Fix getting started button
  website/docusaurus.config.js
  website/src/pages/index.js
Labels: documentation

#114 Enable math equations in website
  website/docs/classic-time-series-models/autoregressive-model.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: documentation

#115 Rename lagmat to sliding_window
  tests/test_sliding_window.py
  torchts/utils/data.py
Labels: test

#62 Add FlakeHell to pre-commit hooks
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
Labels: pre-commit

#116 Add contributing guidelines
  CONTRIBUTING.md
Labels: documentation

#117 Add change log
  CHANGELOG.md
Labels: documentation

#119 Add release workflow
  .github/workflows/release.yml
Labels: github actions

#120 Fix release workflow
  .github/workflows/release.yml
Labels: github actions

#123 Fix AR equations and reword page
  website/docs/classic-time-series-models/autoregressive-model.md
Labels: documentation

#127 Add pre-commit to dev dependencies
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Labels: dependencies, python

#131 Run pre-commit with poetry in CI workflows
  .github/workflows/quality.yml
  .github/workflows/update-pre-commit.yml
Labels: github actions

#132 Move common workflow steps to a composite action
  .github/actions/setup-torchts/action.yml
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
  .github/workflows/update-pre-commit.yml
Labels: github actions

#138 Fix Sphinx config metadata
  CHANGELOG.md
  docs/source/conf.py
Labels: documentation
