Repository Rose-STL-Lab/torchTS, pull requests merged in 2022-03, with the labels that each got.

#206 Merge Sphinx into Docusaurus V2
  .github/workflows/docs.yml
  .gitignore
  docs/source/_templates/theme_variables.jinja
  docs/source/conf.py
  scripts/build_docs.sh
  website/.gitignore
  website/docusaurus.config.js
Labels: documentation, dependencies, github actions

#237 Fix API documentation link
  .github/labeler.yml
  .github/workflows/docs.yml
  CHANGELOG.md
  scripts/build_docs.sh
Labels: dependencies, github actions

#238 Fix API documentation location
  .github/workflows/docs.yml
  CHANGELOG.md
  docs/source/_templates/theme_variables.jinja
  docs/source/conf.py
  scripts/build_docs.sh
Labels: documentation

#134 Add ODE solver and examples
  CHANGELOG.md
  examples/ode/SEIR/SEIR model with ODESolver.ipynb
  examples/ode/SEIR/SIR_SEIR_Test.ipynb
  examples/ode/SEIR/SIR_data_SD_county.pt
  examples/ode/lorenz63/Lorenz63Test.ipynb
  examples/ode/lorenz63/Lorenz63Test_UnobservedMethod.ipynb
  tests/nn/test_ode.py
  torchts/nn/models/ode.py
  torchts/utils/data.py
Labels: enhancement, examples, test, source

#225 Update dependencies
  poetry.lock
  pyproject.toml
Labels: dependencies, python
